<!doctype html>
<html lang="en">
  {% include '../includes/head.html' %}
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" data-ng-include="'/views/header.html'" role="navigation"></div>
    <section class="wrapper">
      <section class="container">
        <div class="content">
        {% block content %}{% endblock %}
        </div>
      </section>
    </section>
    {% include '../includes/foot.html' %}
    <div class="footer" data-ng-include="'/views/footer.html'"></div>
  </body>
</html>