<!doctype html>
<html lang="en">
  {% include '../includes/head.html' %}
  <body analytics>
    <div class="navbar navbar-inverse navbar-fixed-top" data-ng-include="'/views/header.html'" role="navigation"></div>
    <section class="wrapper">
      <section class="container">
        <div class="content">
        {% block content %}{% endblock %}
        </div>
      </section>
    </section>
    {% include '../includes/foot.html' %}
    <div class="footer" data-ng-include="'/views/footer.html'"></div>
	
	<!-- GOOGLE+ LOGIN, prestavt kodo drugam-->
	<script type="text/javascript">
		  (function() {
		   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		   po.src = 'https://apis.google.com/js/client:plusone.js';
		   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		 })();
		 
		 function signinCallback(authResult) {
		  if (authResult['status']['signed_in']) {
			/*TODO display user's first and last name in navigation bar + display logout button + permit acces to certain pages */
			gapi.client.load('plus','v1', function(){
			 var request = gapi.client.plus.people.get({
			   'userId': 'me'
			 });
			 request.execute(function(resp) {
			   console.log('Retrieved profile for:' + resp.displayName);
			 });
			});
		  } else {
				console.log('Sign-in state: ' + authResult['error']);
			
		  }
		}
    </script>
	
	<!--  GOOGLE ANALYTICS, prestavt kodo drugam-->
	<script>
		  (function(i,s,o,g,r,a,m){
		  i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		 //production
		  //ga('create', 'UA-51080925-1', 'yournal.herokuapp.com');
		 
		 //testing
		  ga('create', 'UA-51080925-1', 'none');
		 
		 <!-- ga('send', 'pageview');-->
	</script>
  </body>
</html>