<header class="page-header">
  <h1>Login</h1>
</header>
<alert type="danger" ng-repeat="err in loginError" close="loginError.splice($index, 1)">
  {{err.msg}}
</alert>
<form class="form-signin" role="form" ng-submit="login()">
  <input type="email" class="form-control" placeholder="Email address" ng-model="user.email" required autofocus>
  <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p ng-class="{active: $state.includes('register')}" class="register"><a ng-href="{{$state.href('register')}}">Not our user yet? Register with us!</a> </p>
</form>
