<header class="page-header">
  <h1>Login</h1>
</header>

<div class="container">

      <form class="form-signin" role="form">
        <input type="email" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
	  <br>
		<p ng-class="{active: $state.includes('register')}"><a ng-href="{{$state.href('register')}}">Not our user yet? Register with us!</a> </p>
		
    </div>
