<!-- TODO set max number year to current year -->
<!-- TODO set scope variables in controller + bind with controller -->
<header class="page-header">
  <h1>Add new volume</small></h1>
</header>

<div class="row">
  <div class="col-md-5">
    <form role="form" class="form-horizontal" novalidate>
    <div class="form-group">
        <label for="year" class="col-sm-3 control-label">Year</label>
        <div class="col-sm-9">
          <input type="number" min="2000" max="2014" ng-model="volumeYear" class="form-control input-lg" placeholder="Volume year" autofocus id="year">
        </div>
      </div>
      <div class="form-group">
        <label for="volumeNumber" class="col-sm-3 control-label">Number</label>
        <div class="col-sm-9">
          <input type="number" ng-model="volumeNumber" min="1" class="form-control input-lg" placeholder="Volume number" autofocus id="volumeNumber" required>
        </div>
      </div>
      <button class="btn btn-success btn-lg col-md-offset-3 col-md-3">Save</button>
    </form>
  </div>
</div>
