<script type="text/javascript">window.mean = '<%- @mean.name %>';</script>
<script type="text/javascript" src="<%= @mean[@mean.name].assets.js['vendor/d3/d3.js'] %>"></script>
<script type="text/javascript" src="<%= @mean[@mean.name].assets.js['vendor/angular/angular.js'] %>"></script>
<script type="text/javascript" src="<%= @mean[@mean.name].assets.js['vendor/angulartics/dist/angulartics.min.js'] %>"></script>
<script type="text/javascript" src="<%= @mean[@mean.name].assets.js['vendor/angulartics/dist/angulartics-ga.min.js'] %>"></script>
<% for file in @mean[@mean.name].assets.js.collection : %>
  <script type="text/javascript" src="<%= file %>"></script>
<% end %>
<script src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript">
			  (function(i,s,o,g,r,a,m){
 		  i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');


 		 //production
 		 ga('create', 'UA-51080925-1', 'yournal.herokuapp.com');

 		 //testing
 	  	 //ga('create', 'UA-51080925-1', 'none');


 
 		 //production
</script>
