<header class="page-header">
  <h1>Edit issue</small></h1>
</header>
<alert type="success" ng-show="response" close="response = null">
  Issue updated: {{response.year}}, Volume {{response.volume}}, No {{response.number}}
</alert>
<alert type="danger" ng-repeat="err in error" close="error.splice($index, 1)">
  {{err.msg}}
</alert>
<div class="row">
  <div class="col-md-5">
    <form role="form" class="form-horizontal" ng-submit="updateIssue()">
    <div class="form-group">
        <label for="year" class="col-sm-3 control-label">Year</label>
        <div class="col-sm-9">
          <input type="number" required ng-model="year" min="2000" max="{{maxYear}}" class="form-control input-lg" autofocus id="year">
        </div>
      </div>
      <div class="form-group">
        <label for="volumeNumber" class="col-sm-3 control-label">Volume</label>
        <div class="col-sm-9">
        <input type="number" required ng-model="volume" min="1" class="form-control input-lg" placeholder="Volume number" autofocus id="volumeNumber" required>
        </div>
      </div>
      <div class="form-group">
        <label for="title" class="col-sm-3 control-label">Issue number</label>
        <div class="col-sm-9">
          <input type="number" required ng-model="number" min="1" class="form-control input-lg" placeholder="Issue number" autofocus id="number" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <button type="submit" class="btn btn-success btn-lg col-lg-12 col-md-12 col-xs-12">Update</button>
        </div>
      </div>

    </form>
  </div>
</div>

