<header class="page-header">
  <h1>Add new section to issue</small></h1>
</header>
<alert type="success" ng-show="response" close="response = null">
  Section created: {{response.title}} [{{response.abbreviation}}]
</alert>
<alert type="danger" ng-repeat="err in error" close="error.splice($index, 1)">
  {{err.msg}}
</alert>
<div class="row">
  <div class="col-md-5">
    <form role="form" class="form-horizontal" ng-submit="createSection()">
      <div class="form-group">
        <label for="year" class="col-sm-3 control-label">Year</label>
        <div class="col-sm-9">
          <select ng-model="year" ng-options="issue.year as issue.year for issue in issues | unique:'year' | orderBy:'year':true" class="form-control input-lg" id="year" required>
            <option value="">Select year</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="volume" class="col-sm-3 control-label">Volume</label>
        <div class="col-sm-9">
          <select ng-model="volume" ng-options="issue.volume as issue.volume for issue in issues | filter:{year:year}:true | unique:'volume' | orderBy:'volume'" class="form-control input-lg" id="volume" required>
            <option value="">Select volume</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="issue" class="col-sm-3 control-label">Issue</label>
        <div class="col-sm-9">
          <select ng-model="issue" ng-options="issue.number as issue.number for issue in issues | filter:{year:year,volume:volume}:true | unique:'number' | orderBy:'number'" class="form-control input-lg" id="issue" required>
            <option value="">Select issue number</option>
          </select>
        </div>
      </div>
      <div class="form-group" >
        <label for="sectionName" class="col-sm-3 control-label">Section name</label>
        <div class="col-sm-9">
          <input type="text" ng-model="title" class="form-control input-lg" placeholder="Section name" id="sectionName" required />
        </div>
      </div>
      <div class="form-group" >
        <label for="abbreviation" class="col-sm-3 control-label">Abbreviation</label>
        <div class="col-sm-9">
          <input type="text" ng-model="abbreviation" class="form-control input-lg" placeholder="Abbreviation [AB]" maxlength="2" id="abbreviation" required />
        </div>
      </div>
      <div class="form-group" >
        <label for="policyStatement" class="col-sm-3 control-label">Policy statement</label>
        <div class="col-sm-9">
          <textarea rows="8" ng-model="policyStatement" class="form-control textarea-lg" id="policyStatement" required></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <button type="submit" class="btn btn-success btn-lg col-lg-12 col-md-12 col-xs-12">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
