<div ng-if="issue">
  <header class="page-header">
    <h1 class="inline-block">Volume {{issue.volume}}, No {{issue.number}} <small>({{issue.year}})</small></h1>
    <span ng-show="user.isAuthorized('admin')" class="large-edit">
      <a class="btn btn-primary btn-lg" ng-href="{{$state.href('issue-edit', {year: issue.year, volume: issue.volume, number: issue.number})}}">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
      <button type="button" ng-controller="yournal.admin.issue.DeleteCtrl" ng-click="delete(issue.year, issue.volume, issue.number, 'reload')" class="btn btn-danger btn-lg">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </span>

  </header>
  <div class="container">
    <h2>Table of Contents</h2>
    <ul ng-if="issue.sections.length > 0">
      <li ng-repeat="section in issue.sections" class="list-unstyled animate-repeat">
        <h3 class="inline-rmargin">{{section.title}}</h3>
        <span ng-show="user.isAuthorized('admin')" class="small-edit">
          <a class="btn btn-primary btn-xs" ng-href="{{$state.href('section-edit', {year: issue.year, volume: issue.volume, number: issue.number, section: section._id})}}">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
          <button type="button" ng-controller="yournal.admin.section.DeleteCtrl" ng-click="delete(issue.year, issue.volume, issue.number, section._id); deleteSection($index)" class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </span>
        <ul class="article-list">
          <li ng-repeat="article in section.articles">
            <a class="inline-rmargin" ng-href="{{$state.href('article', {year: issue.year, volume: issue.volume, number: issue.number, section: section._id, article: article._id})}}"><strong>{{article.title}}</strong></a>
            <span ng-show="user.isAuthorized('admin')" class="small-edit small-edit-margin">
              <a class="btn btn-primary btn-xs" ng-href="{{$state.href('article-edit', {year: issue.year, volume: issue.volume, number: issue.number, section: section._id, article: article._id})}}">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
              <button type="button" ng-controller="yournal.admin.article.DeleteCtrl" ng-click="delete(issue.year, issue.volume, issue.number, section._id, article._id); deleteArticle($parent.$parent.$index, $index)" class="btn btn-danger btn-xs">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </span>
            <ul class="list-unstyled list-inline list-comma-separated">
              <li ng-repeat="author in article.authors">{{author}}</li>
            </ul>
          </li>
          <li ng-if="section.articles.length === 0">No articles found.</li>
        </ul>
      </li>
    </ul>
    <h3 class="marginl50" ng-if="issue.sections.length === 0">No sections found.</h3>
  </div>
</div>
<div ng-if="!issue">
  <header class="page-header">
      <h1>Current</h1>
  </header>
  <div class="container">
    <h2>No issues found.</h2>
  </div>
</div>
