<div class="jumbotron">
  <div class="col-md-8">
    <h1>{{journal.title}}</h1>
    <p>{{journal.description}}</p>
  </div>
  <div class="clearfix"></div>
</div>

<div data-ng-repeat="err in errors">
  <div class="alert animated fadeIn" ng-class="err.success ? 'alert-success' : 'alert-danger'">{{err.msg}}</div>
</div>

<header class="page-header">
  <h1>Volume {{issue.volume}}, No {{issue.number}} <small>({{issue.year}})</small></h1>
</header>

<div>
  <h2>Table of Contents</h2>
  <ul>
    <li ng-repeat="section in issue.sections" class="list-unstyled">
      <h3>{{section.title}}</h3>
      <ul class="article-list">
        <li ng-repeat="article in section.articles">
          <a ng-href="{{$state.href('article', {year: issue.year, volume: issue.volume, number: issue.number, section: section._id, article: article._id})}}"><strong>{{article.title}}</strong></a>
          <ul class="list-unstyled list-inline list-comma-separated">
            <li ng-repeat="author in article.authors">{{author}}</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
