<article>
  <header class="page-header">
    <h1 class="inline-block">{{article.title}}</h1>
    <span ng-show="user.isAuthorized('admin')" class="large-edit">
      <a class="btn btn-primary btn-lg" ng-href="{{$state.href('article-edit', {year: year, volume: volume, number: number, section: section, article: article._id})}}">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
      <button type="button" ng-controller="yournal.admin.article.DeleteCtrl" ng-click="delete(year, volume, number, section, article._id, 'home')" class="btn btn-danger btn-lg">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </span>
  </header>
  <div>
    <section>
      <div class="row">
        <strong class="col-md-1 text-right">Authors:</strong>
        <ul class="list-unstyled list-inline list-comma-separated col-md-11">
          <li ng-repeat="author in article.authors">{{author}}</li>
        </ul>
      </div>
      <div class="row">
        <strong class="col-md-1 text-right">Keywords:</strong>
        <ul class="list-unstyled list-inline list-comma-separated col-md-11">
          <li ng-repeat="keyword in article.keywords"><em>{{keyword}}</em></li>
        </ul>
      </div>
      <div class="row">
        <strong class="col-md-1 text-right">Abstract:</strong>
        <p class="col-md-11">{{article.abstract}}</p>
      </div>
      <div class="row">
        <ul class="list-unstyled list-inline col-md-11 col-md-offset-1 social-media">
          <li><a twitter data-lang="en" data-count='horizontal' data-url='{{shareUrl}}' data-size="medium"></a></li>
          <li><div gplus class="g-plusone" data-action="share" data-annotation="bubble" data-href="{{shareUrl}}" data-size="medium"></div></li>
          <li><div class="fb-share-button" data-href="{{shareUrl}}" data-type="button_count"></div></li>
        </ul>
      </div>
    </section>
    <hr>
    <p>{{article.content}}</p>
  </div>

  <div disqus="article.id" ng-show="user.isAuthorized()"></div>
  <div ng-show="!user.isAuthorized()">
    <br>
    Please <a ng-href="{{$state.href('login')}}">login</a> or <a ng-href="{{$state.href('register')}}">register</a> to leave a comment.
  </div>
</article>

<div id="fb-root"></div>
